# JSVM Layer Configuration File

InputFile            akiyo_4cif_x5.yuv  # Input  file
SourceWidth          704            # Input  frame width
SourceHeight         576            # Input  frame height
FrameRateIn          30             # Input  frame rate [Hz]
FrameRateOut         30             # Output frame rate [Hz]
InterLayerPred       2              # Inter-layer Prediction (0: no, 1: yes, 2:adaptive)
MGSVectorMode        1              # MGS vector usage selection
MGSVector0           16             # Specifies 0th position of the vector 
IDRPeriod	     16
DisableBSlices	     1
#====================== QP Cascading =========================================
#ExplicitQPCascading  1             # QP Cascading (0:auto, 1:explicit)
#DQP4TLevel0          0            # Delta QP for temporal level 0
#DQP4TLevel1          0             # Delta QP for temporal level 1
#DQP4TLevel2          0             # Delta QP for temporal level 2
#DQP4TLevel3          0             # Delta QP for temporal level 3
#DQP4TLevel4          0             # Delta QP for temporal level 4
#DQP4TLevel5          0             # Delta QP for temporal level 5
#DQP4TLevel6          0             # Delta QP for temporal level 6

